<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{ item.url }}" target="_blank">
        {% if item.img != false %}
        <img src={{item.img}} alt="img" style="width:80px;height:80px;">
        {% endif %}

        <p class="header">
          {{ item.title }}
        </p>

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}

      </a>
    </li>

  {% endfor %}
</ul>
