---
layout: default
---

<!-- STYLE -->
<style>
  /* h1 {text-align: center;} */
  a { text-decoration: none; } /* links not underlined  */

  .link{
    font-size:16px;
  }
  .link:hover {
    color: rgb(196, 222, 247);
  }

  .title{
    font-size:40px;
    font-family: 'Brush Script MT';
  }
</style>


<!-- HEADER -->
<header>
  <h1 style="text-align:center;margin-bottom: 0.25em;">Hi, I'm Laird 👋</h1>
  
  <div style="text-align:center">
    <a class="link" target="_blank" href="./Resume.pdf">Resume</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="link" target="_blank" href="https://www.linkedin.com/in/lairdstewart">LinkedIn</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="link" target="_blank" href="https://github.com/lairdstewart">GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="link" target="_blank" href="mailto:hlairdstew@gmail.com ">Email</a>
  </div>

  <div class="solid"></div>
  <!-- {%include header_links.html%} -->
  <!-- <h1>{{ site.title }}</h1> -->
</header>



{{ content }}

<!-- ABOUT SECTION -->
<h1 id="About">About</h2>
<p>
  <img src="./headshot.png" alt="Headshot" style="width:200px;height:200px;margin: 0px 0px 0px 20px;" align="right">
  Originially from Denver, I moved to Atlanta to study math and economics at Emory. My interest in math and finance shifted toward tecchnology and product management during an internship where I worked closely with my team’s product manager. This led me to pursue another bachelor’s degree in computer engineering at Georgia Tech and to develop my product experience through internships. I’ve gathered data science skills through coursework, projects, and an internship, leadership skills as an Eagle Scout and head of a research team, and communication skills as a peer tutor and writer. 
</p>  

<!-- PROJECT SECTION -->
<h1>Projects</h2>
  {% include big_card_list.html collection=site.data.home.projects %}

<!-- EXPERIENCE -->
<h1 id="Experience">Work Experience</h2>
{% include card_list.html collection=site.data.home.old_project_entries %}

<!-- EDUCATION -->
<h1 id="Education">Education</h2>
  {% include vertical_list.html collection=site.data.home.education %}

<!-- CREDITS -->
<div class="credits">
  Laird Stewart 2022&nbsp;&nbsp;•&nbsp;&nbsp;Adapted from Abhinav's <a target="_blank" href="http://www.abhinavsaxena.com/moonwalk/">Moonwalk</a> template
</div>

