---
layout: default
---

<header>
  <!-- {%include header_links.html%} -->
  <!-- <div class="dashed"></div> -->
  <h1>{{ site.title }}</h1>
  
</header>

{{ content }}

<!-- ABOUT SECTION -->
<h2 id="About">About</h2>
<p> Undergraduate studying computer engineering, math, statistics, and economics between Emory and Georgia Tech. Proven communication skills as a tutor and published undergraduate researcher. Analytical background in data science and technical coursework in software design. </p> 

<!-- <img src="./headshot.jpeg" alt="Headshot" style="width:200px;height:200px;" align="left">  -->
{% include horizontal_list.html collection=site.data.home.footer_entries %}

<!-- PROJECT SECTION -->
<h2>Projects/Research</h2>
{% include vertical_list.html collection=site.data.home.projects %}

<!-- EXPERIENCE -->
<h2 id="Experience">Work Experience</h2>
{% include card_list.html collection=site.data.home.old_project_entries %}

<!-- EDUCATION -->
<h2 id="Education">Education</h2>
{% include card_list.html collection=site.data.home.education %}


